* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #ffffff;
    width: 90vmin;
    max-width: 500px;
    padding: 80px 50px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-box input {
    padding: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.search-box input:focus {
    border-bottom: 3px solid #fda085;
}
.search-box button {
    padding: 10px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-box button:hover {
    background-color: #7a6ee6;
}
.result {
    position: relative;
    text-align: left;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
    animation: fadeIn 1s ease-in-out;
}
.result .word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.result button:hover {
    color: #7a6ee6;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #575a7b;
    animation: fadeIn 1s ease-in-out;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    animation: fadeIn 1s ease-in-out;
}
.error {
    margin-top: 80px;
    text-align: center;
    color: #ff4d4d;
    font-size: 18px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
